:root {
  --el-color-primary: #db9e3f;
  --el-color-primary-light-3: #f3dfc0;
  --el-color-primary-dark-2: #98671c;
}

.el-button:focus,
.el-button:hover {
  border-color: var(--el-color-primary) !important;
  background-color: var(--el-color-primary) !important;
}
